# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# ignore
*.ipch
*.vsidx
*.opendb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Engine/x64/Debug/DirectionalLight.obj
Engine/x64/Debug/Engine.obj
Engine/x64/Debug/Camera.obj
Engine/x64/Debug/AABB.obj
App/x64/Debug/main.obj
Game/x64/Debug/Entity.obj
Engine/x64/Debug/Texture.obj
Engine/x64/Debug/Shape.obj
Engine/x64/Debug/Shader.obj
Engine/x64/Debug/SceneManager.obj
Engine/x64/Debug/scene.obj
Engine/x64/Debug/resourcemanager.obj
Engine/x64/Debug/RenderWindow.obj
Engine/x64/Debug/Render.obj
Engine/x64/Debug/Primitive.obj
Engine/x64/Debug/PointLight.obj
Engine/x64/Debug/Model.obj
Engine/x64/Debug/Mesh.obj
Engine/x64/Debug/Material.obj
Engine/x64/Debug/Light.obj
Engine/x64/Debug/GlobalResources.obj
Engine/x64/Debug/InputManager.obj
Game/x64/Debug/GameManager.obj
Game/x64/Debug/ModelComponent.obj
Libs/x64/Debug/imgui.obj
Libs/x64/Debug/imgui_demo.obj
Libs/x64/Debug/imgui_draw.obj
Libs/x64/Debug/imgui_impl_dx11.obj
Libs/x64/Debug/imgui_impl_win32.obj
Libs/x64/Debug/imgui_tables.obj
Libs/x64/Debug/imgui_widgets.obj
Libs/x64/Debug/Matrix4x4.obj
Libs/x64/Debug/stb_vorbis.obj
Libs/x64/Debug/TimeManager.obj
Libs/x64/Debug/tiny_obj_loader.obj
Libs/x64/Debug/Transform.obj
Libs/x64/Debug/Vector2.obj
Libs/x64/Debug/Vector3.obj
Reflection/x64/Debug/Entity.obj
Reflection/x64/Debug/Functions.obj
Reflection/x64/Debug/Property.obj
Reflection/x64/Debug/Type.obj
Reflection/x64/Debug/TypeManager.obj
