# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# ignore
*.ipch
*.vsidx
*.opendb
*.db-shm

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pdb

# Executables
*.exe
*.out
*.app

# Debug and release info
/App/x64
/Engine/x64
/Game/x64
/Libs/x64
/Reflection/x64
/Assets
/.vs
